<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-fhir-analytics.ZPM">
    <Module>
      <Name>iris4health-fhir-analytics</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <Resource Directory="src" Name="community.fhirAnalytics.deepsee.PKG"/>
      <Resource Directory="src" Name="community.fhirAnalytics.utils.PKG"/>
      <SourcesRoot>src</SourcesRoot>
      <Invokes>
        <!-- https://github.com/intersystems-community/objectscript-package-example/blob/master/module.xml -->
        <Invoke Class="community.fhirAnalytics.utils.Setup" Method="Run">
        </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>